<div class="home">
  <h4>「Noodles」は、好きなラーメン屋さんの情報や写真をお友達と共有できるアプリケーションです。</h4>
  <%= link_to "登録してみる", signup_path, class: "btn btn-default btn-lg" %>
  <br>
  <%= image_tag "/ramen_boy.png", :size => '150x150'%>
  <%= image_tag "/ramen_boy.png", :size => '150x150'%>
  <%= image_tag "/ramen_boy.png", :size => '150x150'%>
</div>
