<div class="home">
  <h4>「Noodles」は、好きなラーメン屋さんの情報や写真をお友達と共有できるアプリケーションです。</h4>
  <%= link_to "登録してみる", signup_path, class: "btn btn-default btn-lg" %>
  <br>
  <img src="/assets/ramen_boy.png" width="150" height="150" alt="top_image">
  <img src="/assets/ramen_boy.png" width="150" height="150" alt="top_image">
  <img src="/assets/ramen_boy.png" width="150" height="150" alt="top_image">
</div>
