<div class="contents">
  <%= render 'shared/sidebar' %>
  <section class="main_section">
    <%= render 'shared/feed' %>
  </section>
  <aside>
    <% if logged_in? %>
      <section class="user_info">
        <label for="sidebar" class="close">×</label>
        <%= render 'shared/user_info' %>
        <%= render 'shared/post_btn' %>
      </section>
    <% end %>
  </aside>
</div>
