<div class="main">
  <h3>ラーメン画像・情報共有アプリを作っていこうかなと考えています</h3>
  <div class="top_image">
    <%= image_tag 'top.png', :size => '500x500' %>
  </div>
  <%= link_to "登録してみる", signup_path, class: "btn btn-lg btn-primary" %>
</div>
