<% provide(:title, 'パスワードを忘れた方へ') %>
<div class="form_page">
  <div class="form">
    <h3>パスワードを忘れてしまった・・・</h3>
    <h5>登録済みのメールアドレスを入力してください。</h5>
    <h5>再設定用のリンクを送信します。</h5>
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label :メールアドレス %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit "送信", class: "btn btn-warning btn-block" %>
    <% end %>
  </div>
</div>
