<script>
  var posts = <%= @posts %>;
  var map;
  var marker = [];
  var infoWindow = [];

  function initMap(){
    map = new google.maps.Map(document.getElementById('map_index'), {
    center: {lat: 37.67229496806523, lng: 137.88838989062504}, // 地図の中心を指定
    zoom: 6, // 地図のズームを指定
    mapTypeControl: false,
    streetViewControl: false
    });
    for (let i = 0; i < posts.length; i++) {
      marker[i] = new google.maps.Marker({
        position: {lat: parseFloat(posts[i].latitude), lng: parseFloat(posts[i].longitude)},
        map: map,
        animation: google.maps.Animation.DROP
      });
      infoWindow[i] = new google.maps.InfoWindow({
        content: posts[i].shop_name + "<br>" + "<a href='/posts/" + posts[i].id + "' target='_blank' style='color: #00f;'>このお店に関する投稿を表示</a>"
      });
      markerEvent(i);
    }
  };

  function markerEvent(i) {
    marker[i].addListener('click', function() { // マーカーをクリックしたとき
      infoWindow[i].open(map, marker[i]); // 吹き出しの表示
    });
  }

  function getLocation(){
    navigator.geolocation.getCurrentPosition(
      function(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;
        var latlng = new google.maps.LatLng(latitude, longitude);
        map.setCenter(latlng);
        map.setZoom(12);
      }
    );
  }

  function deleteMakers() { // 既存のマーカーを削除
    for (let i = 0; i < posts.length; i++) {
      if(marker[i] != null) {
        marker[i].setMap(null);
    	}
    }
  }

  initMap();
</script>
