<section class="map_section">
  <h3>地図から投稿検索</h3>
  <%= image_tag '/map.png', width: '100%', height: '100%', alt: "地図から投稿検索" %>
  <%= link_to "", maps_path %><!-- sectionクラス全体にリンクをつける方法 -->
</section>
