<div class="search_section_title">
  <%= link_to maps_path do %><i class="fas fa-map-marked-alt"></i> 地図から投稿を検索する<% end %>
</div>
<%= link_to image_tag("/search_post_map.png"), maps_path %>
<div class="search_section_title">
  <i class="fas fa-search"></i>フリーワードで検索
</div>
<div class="search_section_title">
  <i class="fas fa-list"></i>カテゴリ別で検索
</div>
