<% if current_user?(post.user) %>
  <div class="post_menu">
    <%= link_to edit_post_path(post) do %><i class="fas fa-pencil-alt"></i><% end %>
    ｜<%= link_to post, method: :delete, data: { confirm: "本当に削除しますか？" } do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </div>
<% end %>
