/* Bootstrap (とそれに関連するSprockets) を読み込む */
@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
@mixin user_image {
  object-fit: cover;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
}
@mixin form_area {
  width: 500px;
  margin: auto;
  padding: 0 30px 30px 30px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  h3 {
    padding: 30px 0;
    margin: 0;
  }
  .btn {
    margin-top: 19px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  }
}

/* typography */

h1, h2, h3, h4, h5, h6, p, label, span, a {
  color: #4e454a;
}
a:hover {
  color: #4e454a;
}

/* main */

html, body {
  height: auto;
  overscroll-behavior-y: none;
  word-wrap: break-word;
  background-color: #faf0e6;
  position: relative;
}
main {
  width: 100%;
  min-height: 100vh;
  padding: 50px 0 100px 0;
}

.contents {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  .post-btn-responsive {
    display: none;
  }
}

/* header */

header {
  background-color: #752100;
  display: flex;
  justify-content:space-between;
  .header-left {
    width: 185px;
    padding-left: 30px;
    display: flex;
    #logo-01 {
      display: inline;
      height: 100%;
      width: fit-content;
      position: relative;
      flex: auto;
      a {
        font-size: 30px;
        font-weight: bold;
        padding: 4px;
        position: absolute;
        color: #ffffff;
      }
      a:hover {
        text-decoration: none;
      }
    }
    #logo-02 {
      display: inline-block;
      height: 100%;
      img {
        margin: 12px 0 11px 0;
        filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(500%) contrast(101%);
      }
    }
  }
  .navbar-right {
    margin-right: 30px;
    li a:hover {
      background-color: #683f36;
    }
    a {
      color: #ffffff;
    }
  }
  .menu-icon {
    display: none;
  }
}
.navbar-fixed-top {
  border-width: 0;
  margin: 0;
}

/* sidebar */

.slide,
.close {
  display: none;
}

#sidebar {
  margin: 0;
  position: absolute;
  left: -50vw;
}

aside {
  width: 25%;
  min-width: 250px;
  margin-top: 50px;
  .user_info {
    background-color: #eaeaea;
    margin: 0px 10px 20px 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    .user_image {
      text-align: center;
      img {
        @include user_image;
        width: 100px;
        height: 100px;
      }
    }
    .name {
      display: block;
      text-align: center;
      margin: 10px 0;
      font-size: 23px;
      font-weight: bold;
    }
    .stats {
      margin-bottom: 10px;
      a {
        font-size: 15px;
      }
      span {
        display: inline;
      }
    }
    span {
      display: block;
    }
    .btn {
      margin-top: 10px;
      font-size: 20px;
      box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    }
  }
  .post_search {
    height: auto;
    background-color: #eaeaea;
    margin: 0px 10px 20px 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    form {
      width: 100%;
      display: flex;
      input {
        margin: 0;
        flex: auto;
      }
      button {
        height: 34px;
      }
    }
  }
  .map_section {
    height: auto;
    background-color: #eaeaea;
    margin: 0px 10px 20px 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    h3 {
      font-size: 20px;
      margin: 0 0 10px 0;
    }
    img {
      border-radius: 5px;
    }
  }
  .genre_list {
    height: auto;
    background-color: #eaeaea;
    margin: 0px 10px 20px 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    h3 {
      font-size: 20px;
      margin: 0 0 10px 0;
    }
    .genre_list_name {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        font-size: 18px;
        margin: 5px 0;
        a {

        }
      }
    }
  }
}

/* main_section */

.main_section {
  flex: 1;
  height: fit-content;
  margin: 50px 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  overflow: hidden;
  .section_title {
    border-bottom: 1px solid #eaeaea;
    height: 60px;
    margin: 0;
    position: relative;
    h3 {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: right;
      margin: 0;
      font-size: 20px;
      padding: 18px 20px;
    }
    ul {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 0;
      li {
        display: table-cell;
        a {
          text-decoration: none;
          padding: 18px 25px 19px 25px;
          border-bottom: 2px;
          font-size: 20px;
          &:hover {
            background-color: #eeeeee;
          }
        }
        .one {
          border-radius: 5px 0 0 0;
        }
      }
      .current {
        padding-bottom: 17px;
        border-bottom: 3px solid #4e454a;
      }
    }
  }
  .posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #eaeaea;
    .post {
      width: 32%;
      height: 100%;
      border-radius: 5px;
      box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
      margin: 10px 5px 10px 5px;
    }
  }
  .post_header {
    padding: 10px 20px;
    height: 70px;
    display: flex;
    img {
      @include user_image;
      width: 50px;
      height: 50px;
    }
    .post_user {
      font-size: 17px;
      margin: auto 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .post_menu {
      flex: auto;
      margin: auto 0;
      max-width: 50px;
      min-width: 50px;
    }
  }
  .post_container {
    padding: 0 20px 30px 20px;
    .post_picture {
      width: 100%;
      height: 200px;
      text-align: center;
      background-color: #f5f5f5;
      border: 1px solid #eaeaea;
      border-radius: 4px;
      img {
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
        border-radius: 4px;
      }
    }
    .post_information {
      margin-top: 20px;
      .shop_name {
        display: block;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .nearest {
        display: block;
        font-size: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .content {
        font-size: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        p {
          margin: 0;
          height: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .more {
        margin-top: 40px;
        margin-bottom: 20px;
        display: block;
        text-align: right;
        a {
          color: #808080;
        }
      }
      .post_reaction {
        display: flex;
        justify-content: space-between;
      }
      .timestamp {
        display: block;
        text-align: right;
      }
    }
  }
}
.no-contents {
  text-align: center;
  padding: 70px 20px;
  height: 400px;
  border-radius: 0 0 5px 5px;
  img {
    margin: 30px 15px 0 15px;
  }
}

/* post_show */

.show {
  width: 50%;
}
.post_show {
  padding: 0 20px 20px 20px;
  .post_picture {
    width: 100%;
    height: 498px;
    text-align: center;
    background-color: #f5f5f5;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    img {
      object-fit: cover;
      max-width: 100%;
      max-height: 100%;
      border-radius: 4px;
    }
  }
  .post_information {
    margin: 20px 0;
    .shop_name {
      display: block;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .nearest {
      display: block;
      font-size: 15px;
    }
    .content {
      display: block;
      font-size: 15px;
      p {
        margin: 0;
      }
    }
    .post_information_bottom {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
    .fa-twitter-square {
      color:#1da1f2;
    }
  }
}
.post_map {
  padding: 40px 0;
  border-top: 1px solid #eaeaea;
  #map {
    width: 100%;
    height: 400px;
    border-radius: 5px;
  }
}
.post_comments {
  padding-top: 20px;
  border-top: 1px solid #eaeaea;
  h4 {
    margin: 0 0 15px 0;
  }
  .post_comments_list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    li {
      background-color: #fffaf0;
      border-radius: 5px;
      margin: 10px 0;
      padding: 10px 10px 10px 0;
      display: flex;
      .comment_left {
        width: 10%;
        min-width: 40px;
        position: relative;
        img {
          width: 40px;
          height: 40px;
          border-radius: 5px;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
        }
      }
      .comment_right {
        width: 90%;
        .comment_user_name {
          display: block;
          font-weight: bold;
        }
        .comment_content {
          display: block;
        }
        .comment_timestamp {
          float: right;
        }
        .comment_destroy {
          float: right;
        }
      }
    }
  }
  .post_comments_form {
    text-align: right;
    textarea {
      margin: 0 0 5px 0;
    }
    .btn {
      box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    }
  }
}

/* user_edit */

.edit_image {
  margin: 40px 0 10px 0;
  img {
    @include user_image;
    width: 70px;
    height: 70px;
  }
}
.caution {
  margin-bottom: 30px;
  font-weight: bold;
}

/* Users */

.users {
  width: 700px;
  margin: 50px auto;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  h3 {
    text-align: center;
    padding: 30px 0;
    margin: 0;
    border-bottom: 1px solid #eaeaea;
  }
}
.users_index {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    padding: 10px 20px;
    border-bottom: 1px solid #eaeaea;
    height: 70px;
    position: relative;
    .user_name {
      font-size: 20px;
      margin: 0 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    img {
      @include user_image;
      width: 50px;
      height: 50px;
    }
  }
  li + li {
    border-top: none;
  }
}

/* post_search_map */

.post_search_map {
  padding: 20px;
  margin: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  h3 {
    margin: 20px;
    text-align: center;
  }
  span {
    display: block;
  }
  input {
    margin: 0;
    display: inline;
  }
  .btn {
    margin: 10px 0;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  }
  .current_position {
    float: right;
  }
  #map_index {
    height: 700px;
    border-radius: 5px;
  }
}

/* footer */

footer {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #eaeaea;
  background-color: #dcdcdc;
}
.footer_center {
  color: #95949a;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

/* forms */

.form_page {
  text-align: center;
  margin: 5%;
  border-radius: 5px;
  .form {
    @include form_area;
  }
}
label {
  float: left;
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  resize: none;
  @include box_sizing;
}
input {
  height: auto !important;
}
.genre_check_box {
  height: 50px;
  display: inline-block;
  label {
    margin-right: 10px;
  }
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
    li {
      text-align: left;
    }
  }
}
.alert {
  text-align: center;
  border-radius: 0;
}
.field_with_errors {  /* 無効な内容の送信によって元のページに戻されると、field_with_errorsを持ったdivタグでエラー箇所を自動的に囲む */
  @extend .has-error; /* Sassの@extend関数を使ってBootstrapのhas-errorというCSSクラスを適用 */
  .form-control {
    color: $state-danger-text;
  }
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}
.login_announcement {
  margin-top: 20px;
  p {
    margin: 0;
  }
  a {
    text-decoration: underline;
  }
}

/* pagination */

.pagination {
  width: 100%;
  margin: 0;
  padding: 10px;
  border-radius: 0;
  ul {
    border-top: none;
    a {
      color: #4e454a;
      &:active, &:hover {
        color: #4e454a;
      }
    }
    .active a {
      background-color: #f0ad4e;
      border-color: #f0ad4e;
      &:hover {
        background-color: #f0ad4e;
        border-color: #f0ad4e;
      }
    }
  }
}
