@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}



/* typography */

h1, h2, h3, h4, h5, h6, p, label {
  color: #4e454a;
}

h3 {
  margin-bottom: 20px;
  text-align: center;
}

h4 {
  margin-bottom: 60px;
  text-align: center;
}

h5 {
  margin-bottom: 50px;
  text-align: center;
}

label {
  float: left;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  padding-top: 9px;
  font-size: 1.7em;
  color: #4e454a;
  font-weight: bold;
  display: block;
  &:hover {
    color: #4e454a;
    text-decoration: none;
  }
}

/* main */

.main {
  padding: 100px 0 100px 0;
  background-color: #fdede4;
}

/* home */

.home {
  text-align: center;
  padding: 120px 0 50px 0;
  img {
    margin-top: 60px;
    display: inline-block;
  }
}

/* sidebar */

.user_info {
  background-color: #ffffff;
  img {
    margin: 10px;
  }
  h3 {
    display: inline;
    text-align: left;
  }
}

/* edit */

.edit_image {
  margin: 40px 0 10px 0;
}

/* footer */

footer {
  padding: 10px 0 100px 0;
  border-top: 1px solid #eaeaea;
  color: #777;
  background-color: #fdede4;
}

.footer_right {
  float: right;
  padding-right: 10px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
