@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
@mixin user_image {
  object-fit: cover;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
}
@mixin form_area {
  width: 500px;
  margin: auto;
  padding: 0 30px 30px 30px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 5px;
  h3 {
    padding: 30px 0;
    margin: 0;
  }
  .btn {
    margin-top: 19px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6, p, label, span, a {
  color: #4e454a;
}
a:hover {
  color: #4e454a;
}

/* main */

html, body {
  height: auto;
  overscroll-behavior-y: none;
  word-wrap: break-word;
  background-image: url(/top_image.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.contents {
  width: 100%;
  min-height: 100vh;
  padding: 50px 0 100px 0;
}

/* header */

header {
  background-color: #ffffff;
  #logo {
    float: left;
    padding-top: 9px;
    padding-left: 40px;
    font-size: 1.7em;
    font-weight: bold;
    display: block;
    &:hover {
      text-decoration: none;
    }
  }
  .navbar-right {
    margin-right: 30px;
  }
  .menu-icon {
    display: none;
  }
}
.navbar-fixed-top {
  border-width: 0;
}

/* top */

.top_title {
  position: absolute;
  width: 100%;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  h3 {
    color: #ffffff;
  }
  a {
    margin-top: 27px;
    opacity: 0.9;
    width: 274px;
    font-size: 13px;
  }
  button {
    margin: 35px 0 10px 0;
    opacity: 0.9;
    width: 274px;
    padding: 20px 0;
  }
}

/* sidebar */

.user_info {
  background-color: #ffffff;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  .user_image {
    text-align: center;
    img {
      @include user_image;
      width: 100px;
      height: 100px;
    }
  }
  .name {
    display: block;
    text-align: center;
    margin: 10px 0;
    font-size: 23px;
    font-weight: bold;
  }
  .stats {
    margin-bottom: 10px;
    a {
      font-size: 15px;
    }
  }
  span {
    display: block;
  }
  .btn {
    margin-top: 10px;
    font-size: 25px;
    font-size: 20px;
  }
}

/* main_section */

.main_section {
  margin: 50px 0;
  background-color: #ffffff;
  border-radius: 5px;
  .section_title {
    height: 60px;
    margin: 0;
    position: relative;
    h3 {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: right;
      margin: 0;
      font-size: 20px;
      padding: 18px 20px;
    }
    ul {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      float: left;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        float: left;
        a {
          text-decoration: none;
          padding: 18px 25px 19px 25px;
          border-bottom: 2px;
          font-size: 20px;
          &:hover {
            background-color: #eeeeee;
          }
        }
        .one {
          border-radius: 5px 0 0 0;
        }
      }
      .current {
        padding-bottom: 17px;
        border-bottom: 2px solid #4e454a;
      }
    }
  }
  .posts {
    list-style: none;
    padding: 0;
    margin: 0;
    .post_header {
      border-top: 1px solid #eaeaea;
      padding: 10px 20px;
      height: 70px;
      display: flex;
      img {
        @include user_image;
        width: 50px;
        height: 50px;
        flex: auto;
      }
      span {
        flex: auto;
        font-size: 17px;
        margin: auto 20px;
      }
      .post_menu {
        flex: auto;
        margin: auto 0;
        max-width: 50px;
        min-width: 50px;
      }
    }
    .post_container {
      height: 230px;
      padding: 0 5px 30px 5px;
      .post_picture {
        width: 100%;
        height: 200px;
        text-align: center;
        background-color: #f5f5f5;
        border: 1px solid #eaeaea;
        border-radius: 4px;
        img {
          object-fit: cover;
          max-width: 100%;
          max-height: 100%;
        }
      }
      .post_information {
        height: 200px;
        position: relative;
        .shop_name {
          display: block;
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .nearest {
          display: block;
          font-size: 15px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .content {
          width: 100%;
          height: 40px;
          display: block;
          font-size: 15px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          p {
            margin: 0;
            width: 100%;
            height: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        .post_information_bottom {
          position: absolute;
          bottom: 0;
          width: 100%;
          text-align: right;
          .more {
            display: block;
            margin-bottom: 20px;
            a {
              color: #808080;
            }
          }
          .like {
            display: block;
          }
          .timestamp {
            display: block;
          }
        }
      }
    }
  }
}
.no-contents {
  text-align: center;
  padding: 70px 20px;
  height: 400px;
  border-top: 1px solid #eaeaea;
  border-radius: 0 0 5px 5px;
  img {
    margin: 30px 15px 0 15px;
  }
}

/* post_show */
.post_show {
  padding: 0 20px 20px 20px;
  .post_picture {
    width: 100%;
    height: 498px;
    text-align: center;
    background-color: #f5f5f5;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    img {
      object-fit: cover;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .post_information {
    margin: 20px 0;
    .shop_name {
      display: block;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .nearest {
      display: block;
      font-size: 15px;
    }
    .content {
      display: block;
      font-size: 15px;
      p {
        margin: 0;
      }
    }
    .post_information_bottom {
      margin-top: 20px;
      height: 22px;
      .like {
        float: left;
      }
      .timestamp {
        float: right;
      }
    }
  }
}
.post_map {
  padding: 40px 0;
  border-top: 1px solid #eaeaea;
  #map {
    width: 100%;
    height: 400px;
    border-radius: 5px;
  }
}
.post_comments {
  padding-top: 20px;
  border-top: 1px solid #eaeaea;
  h4 {
    margin: 0 0 15px 0;
  }
  .post_comments_list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    li {
      background-color: #fffaf0;
      border-radius: 5px;
      padding: 10px;
      margin-top: 5px;
      display: flex;
      .comment_left {
        min-width: 40px;
        img {
          width: 40px;
          height: 40px;
          border-radius: 5px;
        }
      }
      .comment_right {
        flex: auto;
        width: 92%;
        padding-left: 10px;
        .comment_user_name {
          display: block;
          font-weight: bold;
        }
        .comment_content {
          display: block;
        }
        .comment_destroy {
          float: right;
        }
        .comment_timestamp {
          float: right;
        }
      }
    }
  }
  .post_comments_form {
    text-align: right;
    textarea {
      margin: 0 0 5px 0;
    }
  }
}

/* user_edit */

.edit_image {
  margin: 40px 0 10px 0;
  img {
    @include user_image;
    width: 70px;
    height: 70px;
  }
}
.caution {
  margin-bottom: 30px;
  font-weight: bold;
}

/* Users */

.users {
  width: 700px;
  margin: 50px auto;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0px;
  h3 {
    text-align: center;
    padding: 30px 0;
    margin: 0;
  }
}
.users_index {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    padding: 10px 20px;
    border-top: 1px solid #eaeaea;
    height: 70px;
    position: relative;
    .user_name {
      font-size: 20px;
      margin: 0 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    img {
      @include user_image;
      width: 50px;
      height: 50px;
    }
  }
}

/* post_search_map */

.post_search_map {
  padding: 20px;
  margin: 50px 0;
  background-color: #ffffff;
  border-radius: 5px;
  h3 {
    margin: 20px;
    text-align: center;
  }
  span {
    display: block;
  }
  input {
    margin: 0;
    display: inline;
  }
  .btn {
    margin: 10px 0;
  }
  .current_position {
    float: right;
  }
  #map_index {
    height: 600px;
    border-radius: 5px;
  }
}

/* footer */

footer {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #eaeaea;
  background-color: #ffffff;
}
.footer_center {
  color: #95949a;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

/* forms */

.form_page {
  text-align: center;
  margin: 5%;
  .form {
    @include form_area;
  }
}
label {
  float: left;
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  resize: none;
  @include box_sizing;
}
input {
  height: auto !important;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
    li {
      text-align: left;
    }
  }
}
.alert {
  text-align: center;
  border-radius: 0;
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}
.login_announcement {
  margin-top: 20px;
  p {
    margin: 0;
  }
  a {
    text-decoration: underline;
  }
}

/* pagination */

.pagination {
  width: 100%;
  margin: 0;
  padding: 10px;
  border-top: 1px solid #eaeaea;
  border-radius: 0;
  ul {
    border-top: none;
    a {
      color: #4e454a;
      &:active, &:hover {
        color: #4e454a;
      }
    }
    .active a {
      background-color: #f0ad4e;
      border-color: #f0ad4e;
      &:hover {
        background-color: #f0ad4e;
        border-color: #f0ad4e;
      }
    }
  }
}
