@media (max-width: 1299px) {
  .main_section .posts .post {
    width: 48%;
  }
  aside .user_info .stats {
    a {
      display: block;
    }
    span {
      display: none;
    }
  }
}

@media (max-width: 991px) {

  /* header */

header #logo {
  padding-left: 15px;
}

header .header-right .post_search {
  margin: auto 10px;
}

header .navbar-right {
  margin-right: 15px;
}

  /* main */

  .contents {
    padding: 0;
    .post-btn-responsive {
      display: block;
      position: fixed;
      right: 30px;
      bottom: 30px;
      width: 100px;
      height: 100px;
      font-size: 50px;
      background-color: #f0ad4e;
      border-radius: 100px;
      box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
      z-index: 10;
      a {
        display: block;
        height: 100%;
        position: relative;
        .post-post_btn_responsive-icon {
          position: absolute;
          top: 12%;
          left: 28%;
        }
      }
    }
  }

  /* main_section */

  .main_section {
    width: 100%;
  }

  /* sidebar */

  .slide {
    display: flex;
    position: absolute;
    height: 45px;
    border-radius: 30px;
    right: 0;
    background-color: #f5deb3;
    padding: 5px 20px;
    margin: 2.5px 10px 2.5px 0;
    img {
      height: 35px;
      border-radius: 30px;
    }
    p {
      margin: auto 10px;
      font-size: 10px;
    }
    svg {
      margin: auto 0;
    }
  }
  .close {
    display: block;
    opacity: 0.8;
    position: absolute;
  }
  aside {
    position: fixed;
    right: -250px;
    transition: all 0.2s;
    .user_info {
      padding: 10px;
      position: relative;
      .name {
        margin: 20px 0;
        font-size: 15px;
      }
      .stats {
        margin-bottom: 10px;
        a {
          font-size: 15px;
        }
      }
      .btn {
        font-size: 15px;
      }
      .post-btn {
        display: none;
      }
    }
    .category_list {
      display: none;
    }
  }

  #sidebar:checked ~ aside {
    right: 0;
    z-index: 5;
  }
  #sidebar:checked ~ .back {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 4;
  }
}

@media (max-width: 859px) {

  /* header */

  header {
    #logo {
      padding-left: 10px;
    }
    .header-right .post_search {
      margin: auto 30px;
    }
    .navbar-right {
      display: none;
    }
    .menu-icon {
      display: inline-block;
      margin: 5px 10px 0 0;
    }
    .dropdown-menu {
      left: auto;
      right: 0;
    }
  }

  /* main_section */

  .main_section .section_title {
    height: 40px;
    h3 {
      padding: 0 20px;
      font-size: 15px;
    }
    ul {
      li a {
        font-size: 15px;
        padding: 11px 10px 10px 10px;
      }
      .current {
        padding-bottom: 10px;
      }
    }
  }
  .main_section .posts .post {
    width: 100%;
    .post_header {
      height: 50px;
      padding: 10px 10px;
      img {
        width: 30px;
        height: 30px;
      }
      .post_user {
        margin: auto 10px;
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .posts .post_container {
    padding: 0 10px 10px 10px;
    .post_information .shop_name {
      font-size: 17px;
    }
  }
  .no-contents {
    padding: 20px;
    height: auto;
    h3 {
      margin: 15px 0 5px 0;
      font-size: 15px;
    }
    img {
      width: 40px;
      height: 40px;
      margin: 40px;
    }
  }

  /* post_show */

  .show {
    .post_header .post_user {
      font-size: 13px;
      margin: 16px 10px;
    }
    .post_show {
      .post_picture {
        height: auto;
      }
    }
    .post_map {
      #map {
        height: 300px;
      }
    }
    .post_comments {
      .post_comments_list {
        li {
          padding: 10px;
          margin-top: 5px;
          .comment_right {
            flex: auto;
            min-width: 10px;
            padding-left: 10px;
          }
        }
      }
    }
  }

  /* Users */

  .users {
    margin: 10px 10px;
    width: auto;
  }
  .users_index li .user_name {
    font-size: 15px;
  }

  /* post_search_map */

  .post_search_map {
    margin: 10px 10px;
    padding: 10px;
    h3 {
      margin: 10px 10px 20px 10px;
    }
    .btn {
      margin: 10px 0 0 0;
      float: left;
    }
    .current_position {
      float: left;
      margin-bottom: 10px;
    }
    #map_index {
      height: 400px;
      width: 100%;
      border-radius: 5px;
    }
  }

  /* forms */

  .form_page .form {
    width: auto;
    padding: 0 10px 10px 10px;
    h3 {
      padding: 20px 0 10px 0;
    }
  }
}

@media (max-width: 439px) {

  /* header */

  header {
    #logo {
      display: none;
    }
    img {
      display: block;
      margin: 9px 0 0 10px;
    }
    .header-right .post_search {
      margin: auto 15px;
      input {
        width: 130px;
      }
    }
  }

  /* main */

  .contents {
    .post-btn-responsive {
      right: 20px;
      bottom: 20px;
      width: 70px;
      height: 70px;
      font-size: 30px;
      a {
        .post-post_btn_responsive-icon {
          top: 18%;
          left: 32%;
        }
      }
    }
  }

  /* form */

  .category_check_box {
    height: 80px;
  }
}
